# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
package-lock.json
npm-debug.log*

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Server Temp Files
.http-server/
*.log
